<footer>
  <div class="row">
    <div class="col">
      <nav>
        <a href="{{site.baseurl}}/privacy-policy">Privacy Policy</a>
        <span>·</span>
        <a href="{{site.baseurl}}/terms-and-conditions">Terms and Conditions</a>
        <span>·</span>
        <a href="{{site.baseurl}}/contact-us">Contact Us</a>
        <span>·</span>
        <a href="{{site.baseurl}}/rules">Rules</a>
      </nav>
    </div>
    <div class="col text-right">
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Chingò Club
      </span>
    </div>
  </div>
</footer>