<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#000000">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@chingoclub">
  <meta property="og:type" content="website">
  {% if site.image %}
  <meta property="og:image" content="{{ site.url }}{{ site.image.path }}" />
  {% endif %}
  {% seo %}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="stylesheet" href="{{ "/assets/styles/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">

  {% feed_meta %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80014037-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-80014037-1');
  </script>
</head>